@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'YellowTail';
  src: local('YellowTail'),
    url('./fonts/Yellowtail-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Sora';
  src: local('Sora'), url('./fonts/Sora.ttf') format('truetype');
  font-display: swap;
}

* {
  font-family: 'Sora';
  padding: 0;
  margin: 0;
}

::selection {
  background-color: rgba(255, 255, 255, 0.1);
}

.logo {
  font-family: 'YellowTail';
}

.link-container {
  transition: transform 0.4s ease;
}
.link {
  height: 2.3rem;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  display: flex;
  outline: none;
}

.title {
  display: block;
  font-size: 1.25rem;
  line-height: 1.25rem;
  transition: transform 0.4s ease;
}

.link-title1 {
  transform-origin: right center;
}

.link-title2 {
  transform-origin: left center;
  transform: rotate(20deg);
}
.mask {
  position: relative;
  padding: 0;
  height: 1.25rem;
  overflow: hidden;
}

.link:hover .link-container {
  transform: translateY(-1.25rem);
}

.link:hover .link-title1 {
  transform: rotate(20deg);
}

.link:hover .link-title2 {
  transform: rotate(0);
}

.link:focus .link-container {
  transform: translateY(-1.25rem);
}

.link:focus .link-title1 {
  transform: rotate(20deg);
}

.link:focus .link-title2 {
  transform: rotate(0);
}

.active .link-container {
  transform: translateY(-1.25rem);
}

.active .link-title1 {
  transform: rotate(20deg);
}

.active .link-title2 {
  transform: rotate(0);
  color: #f6d15a;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #303030;
}

::-webkit-scrollbar-thumb {
  background: #191919;
}

::-webkit-scrollbar-thumb:hover {
  background: #454545;
}

.carousel-container {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 100%;
  width: 100%;
}

.carousel-track {
  display: flex;
  position: relative;
  left: 0;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 200%;
}

.carousel-track:hover {
  animation-play-state: paused;
}

.track-one {
  left: 0;
  top: 0;
  animation: slideOne 90s linear infinite;
}

.track-two {
  left: 0;
  top: 0;
  animation: slideTwo 90s linear infinite;
}

.carousel-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #191919;
  transition: all 0.3s ease;
  filter: grayscale(1);
}

.carousel-card > i {
  font-size: 1.5rem;
}

.carousel-card:hover {
  filter: grayscale(0);
}

@keyframes slideOne {
  0% {
    left: 0;
  }
  100% {
    left: -100.2%;
  }
}

@keyframes slideTwo {
  0% {
    left: -100.2%;
  }
  100% {
    left: 0;
  }
}
