@tailwind base;
@tailwind components;
@tailwind utilities;

.link {
  outline: none;
}

.link::after {
  content: '';
  display: block;
  height: 2px;
  transition: all 0.3s ease;
  background-color: #2eb279;
  transform: scaleX(0);
}

.link:hover::after {
  transform: scaleX(1);
}

.link:focus::after {
  transform: scaleX(1);
}

.socialsBtn {
  padding: 0.33rem;
  border-radius: 100%;
  transition: background-color 0.33s ease;
}

.socialsBtn:hover {
  background-color: #2eb279;
  border: 2px solid #2eb279;
}
.socialsBtn:focus {
  background-color: #2eb279;
  border: 2px solid #2eb279;
  outline: none;
}

.skillIcons {
  max-width: 5rem;
  transition: all 0.33s ease;
  margin: 0.5rem;
}

.button {
  border: 2px solid #2eb279;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  transition: background-color 0.33s ease;
}

.button:hover {
  background-color: #2eb279;
  border: 2px solid #2eb279;
}

.button:focus {
  background-color: #2eb279;
  border: 2px solid #2eb279;
  outline: none;
}

.arrow::after {
  content: '';
  display: inline-block;
  height: 0.5rem;
  width: 100%;
  border-top: 1rem solid white;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
}
