@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'YellowTail';
  src: local('YellowTail'),
    url('./fonts/Yellowtail-Regular.ttf') format('truetype');
}

* {
  font-family: 'Roboto', 'Ubuntu', 'sans-serif';
}

.logo {
  font-family: 'YellowTail';
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

.link {
  outline: none;
}

.link::after {
  content: '';
  display: block;
  height: 2px;
  transition: all 0.3s ease;
  background-color: #2eb279;
  transform: scaleX(0);
}

.link:hover::after {
  transform: scaleX(1);
}

.link:focus::after {
  transform: scaleX(1);
}

.socialsBtn {
  padding: 0.33rem;
  border-radius: 100%;
  transition: background-color 0.33s ease;
}

.socialsBtn:hover {
  background-color: #2eb279;
  border: 2px solid #2eb279;
}
.socialsBtn:focus {
  background-color: #2eb279;
  border: 2px solid #2eb279;
  outline: none;
}

.skillIcons {
  max-width: 5rem;
  transition: all 0.33s ease;
  margin: 0.5rem;
}

.button {
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  font-weight: 600;
  outline: none;
  transition: background-color 0.33s ease;
}

.overlay {
  transition: all 0.33s ease-in-out;
}

.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
}

.background {
  width: 35rem;
  height: 35rem;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform-origin: center;
  filter: blur(calc(35rem / 5));
  background-image: linear-gradient(#2eb279, #df870c);
  animation: background 15s cubic-bezier(0.8, 0.2, 0.2, 0.8) alternate infinite;
  border-radius: 100%;
}

.test {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.mouse {
  width: 30px;
  height: 55px;
  border: 3px solid white;
  border-radius: 60px;
  position: relative;
  transition: all 1.5s ease;
}

.mouse::before {
  content: '';
  width: 8px;
  height: 8px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border-radius: 50%;
  opacity: 1;
  animation: wheel 1.5s infinite;
  -webkit-animation: wheel 1.5s infinite;
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 30px;
  }
}

@keyframes background {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
